.create-lobby {
    max-width: 500px;
    margin: 2rem auto 0;
    padding: 2rem;
    background: #18181b;
    border: 1px solid #27272a;
    border-radius: 24px;

    h2 {
        text-align: center;
        margin-bottom: 2rem;
    }

    .genres {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-bottom: 1rem;

        .genre {
            padding: 0.5rem 1rem;
            border: 1px solid #27272a;
            border-radius: 15px;
            font-size: 0.9rem;
            cursor: pointer;
            background-color: #1f1f23;
            color: white;

            &.selected {
                background-color: #8b5cf6;
                border-color: #8b5cf6;
            }
        }
    }

    input {
        width: 100%;
        padding: 0.75rem;
        margin-bottom: 1rem;
        border: 1px solid #27272a;
        border-radius: 15px;
        font-size: 1rem;
        background-color: #1f1f23;
        color: white;
    }

    .create-lobby-button {
        width: 100%;
        padding: 1rem;
        background-color: #8b5cf6;
        color: white;
        border: none;
        border-radius: 15px;
        font-size: 1.2rem;
        cursor: pointer;
        margin-top: 1rem;

        &:hover {
            background-color: #7c3aed;
        }
    }
}